* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;

  background-size: cover;
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
  background-position: center;
}
.profile {
  text-align: center;
  background-color: rgba(233, 116, 13, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  width: 300px;
}
.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile h1,
.profile h2 {
  margin: 10px 0;
  color: #333;
}
.profile p {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.instagram-button {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background: linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  text-decoration: none;
}

/* Hover effect */
.instagram-button:hover {
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  transform: scale(1.05);
}

/* Focus effect for accessibility */
.instagram-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.7);
}

.github-button {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background: #24292f; /* GitHub dark gray */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

/* Hover effect */
.github-button:hover {
  background: #3d444d; /* Slightly lighter gray for hover */
  transform: scale(1.05);
}

/* Focus effect for accessibility */
.github-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
